header
{
	height: 9vh;
}


canvas
{
	margin-left: 0.5%;
	margin-right: 0.5%;
	width: 50% !important;
	height: 39vh !important;
	background-color: var(--statistics-bg-color);
	border-radius: 15px;
}


#loggedInfo
{
	text-align: center; 
}


#logOutBtn
{
	padding: 1%;
}


#charts
{
	margin-right: 0px;
	margin-left: 2%;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 94%;
	height: 39vh;
	background-color: var(--statistics-bg-color);
	border-radius: 15px;
}


#transCont
{
	height: 36vh;
	overflow: scroll;
	margin-bottom: 0px;
	margin-top: 2px;
}


#mainCont
{
	margin: 0;
	padding: 0;
}

table, tr, th, td, caption 
{
  background-color: var(--statistics-bg-color); 
  color: black;
  border:1px solid black;
}

td
{
	height: 20px;
	text-align: center;
}

td.type
{
	font-size: 38px; /* size of emoticons for types of transactions*/
}

Caption /*title of table*/
{
	font-weight: bold;
	font-size: 22px;
}


table a /*element in td which can be activated*/
{
	color: black;
	text-decoration: none;
	padding-left: 19%;
	padding-right: 19%;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
}  

tr:hover 
{
	filter: brightness(85%);
}

/* Center the image */
.imageContainer 
{
  height: 40px;
  text-align: center;
  margin: 1%;
  position: relative;
}


img
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}


/*For mobile view*/
@media (max-width: 768px)
{
	canvas
	{
		width: 100% !important;
		height: 100% !important;
		margin-left: 10%;
		margin-right: 10%;
	}
  
	#charts
	{
	  overflow: scroll !important;
	}
  
	/* Choosing row - changing it's style*/
	.closeRow>a
	{
		color: red;
		font-weight: bold;
	}
	
	.date,.balance,.afterDescription
	{
	  display: none;
	}
  
  
	tr:target>td.date,
	table:has(tr:target) .date,
	tr:target>td.balance,
	table:has(tr:target) th.balance,
	tr:target .afterDescription,
	tr:target .closeRow
	{
		display: table-cell;
	}
	
	tr:not(:target) td.date>a,
	th td.date>a
	{
		display: none;
	}
	
	tr:not(:target) td.date
	{
		border: none;
	}
	
	tr:target,
	table:has(tr:target) tr:has(th),
	table:has(tr:target) caption
	{
		transform: scaleY(1.2);
	}
	
	tr:target
	{
		 box-shadow: 5px 10px 8px #888888;
	}

	tr:target a
	{
		 padding: 0px;
	}
}
